# Cargo / rustc artifacts
/target

# Local config
.env
.envrc
venv/
.venv

# IDEs
.idea
.vscode/
.nlsp-settings/
pyrightconfig.json

# Clang debug / memory detection / test artifacts
*.dSYM
*.o
*.dylib

# Generated OpenAPI stuff that is unnecessary
qcs-api/docs

# macOS
.DS_Store

# Python artifacts
**/__pycache__
**/null-ls-cache*
crates/lib/.hypothesis
crates/lib/python/qcs_sdk/*.so
crates/lib/tests_py/__output__/

# Ignore extraneous generated stubs
crates/lib/python/quil/
crates/lib/python/qcs_api_client_common/
crates/lib/python/contextmanager.pyi
crates/lib/python/export_process.pyi

# unversioned developer notes
scratch/

# un-consolidated updates to THIRDPARTY license data
/THIRDPARTY-update.yaml
