# Cargo / rustc artifacts
/target

# Local config
.env
venv/

# JetBrains
.idea

# Clang debug / memory detection / test artifacts
*.dSYM
*.o
*.dylib

# Generated OpenAPI stuff that is unnecessary
qcs-api/docs

# macOS
.DS_Store

# pytest artifacts
**/__pycache__
