# Cargo / rustc artifacts
/target

# Python artifacts
__pycache__/

# Local config
.env
.envrc
venv/
.venv

# IDEs
.idea
.vscode/
.nlsp-settings/
pyrightconfig.json

# Clang debug / memory detection / test artifacts
*.dSYM
*.o
*.dylib

# Generated OpenAPI stuff that is unnecessary
qcs-api/docs

# macOS
.DS_Store

# Python artifacts
**/__pycache__
**/null-ls-cache*
crates/python/.hypothesis
crates/python/qcs_sdk/*.so
crates/python/build

crates/python/tests/__output__/

# unversioned developer notes
scratch/

# un-consolidated updates to THIRDPARTY license data
/THIRDPARTY-update.yaml
