[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.dependencies]
qcs-api = "0.2.1"
qcs-api-client-common = "0.7.2"
qcs-api-client-grpc = "0.7.2"
qcs-api-client-openapi = "0.8.2"
serde_json = "1.0.86"
thiserror = "1.0.37"
tokio = "1.24.2"
# We specify quil-rs as a git and versioned dependency so that we can keep the version of
# quil-rs used in both the Rust and Python packages in sync. The tag used should always
# be a `quil-py` tag and should match the version used in `crates/python/pyproject.toml`
# The version must also be specified in order to publish to crates.io. Cargo enforces
# that the specified version is the same as the version in the git repository.
quil-rs = { version = "0.22.2", git = "https://github.com/rigetti/quil-rs", tag = "quil-py/v0.6.2" }

# ndarray is used by the `qcs` crate, but it is also used in the `python` crate via a
# re-export through the numpy crate. They should be updated as a pair to keep both
# crates' versions of ndarray in sync.
# Similarly, pyo3 packages (`numpy`, `rigetti-pyo3`, `pyo3*`) track versions together
# and need to be updated together.
ndarray = { version = "0.15.6", features = ["serde"] }
numpy = "0.20.0"
pyo3 = "0.20.0"
pyo3-asyncio = { version = "0.20", features = ["tokio-runtime"] }
pyo3-build-config = "0.20.0"
rigetti-pyo3 = { version = "0.3.0", features = ["complex"] }

# The primary intent of these options is to reduce the binary size for Python wheels
# since PyPi has limits on how much storage a project can use.
# The LTO and codegen-units settings should have the added benefit of improving
# performance. The only benefit of stripping symbols is reducing binary size.
[profile.release]
strip = true
lto = true
codegen-units = 1
