[workspace]
members = ["crates/*"]

[workspace.dependencies]
qcs-api = "0.2.1"
qcs-api-client-common = "0.3.0"
qcs-api-client-grpc = "0.3.0"
qcs-api-client-openapi = "0.4.0"
quil-rs = "0.15"
serde_json = "1.0.86"
tokio = "1.24.2"

# ndarray is used by the `qcs` crate, but it is also used in the `python` crate via a 
# re-export through the numpy crate. They should be updated as a pair to keep both 
# crates version of ndarray in sync.
# Similarly, pyo3 packages (`numpy`, `pyo3*`) track versions together and need to be
# updated together.
ndarray = { version = "0.15.6", features = ["serde"] }
numpy = "0.17"
pyo3 = { version = "0.17", features = ["extension-module"] }
pyo3-asyncio = { version = "0.17", features = ["tokio-runtime"] }
pyo3-build-config = { version = "0.17" }
rigetti-pyo3 = { version = "0.1.0-rc.1", features = ["extension-module", "complex"] }
