[workspace]
members = ["crates/lib"]
resolver = "2"

[workspace.dependencies]
# We specify quil-rs as a git and versioned dependency so that we can keep the version of
# quil-rs used in both the Rust and Python packages in sync. The tag used should always
# be a `quil-py` tag and should be compatible with the version specified in
# `crates/python/pyproject.toml`.
# The version must also be specified in order to publish to crates.io. Cargo enforces
# that the specified version is the same as the version in the git repository.

# ndarray is used by the `qcs` crate, but it is also used in the `python` crate via a
# re-export through the numpy crate. They should be updated as a pair to keep both
# crates' versions of ndarray in sync.
# Similarly, pyo3 packages (`numpy`, `pyo3*`) track versions together
# and need to be updated together.
ndarray = { version = "0.16.1", features = ["serde"] }
numpy = "0.27.1"
opentelemetry = { version = "0.27.1" }
opentelemetry_sdk = { version = "0.27.1" }
pyo3 = { version = "0.27.2", features = ["num-complex", "multiple-pymethods"] }
pyo3-async-runtimes = { version = "0.27", features = ["attributes", "tokio-runtime"] }
pyo3-build-config = "0.27.2"
pyo3-log = { version = "0.13.2" }
pyo3-opentelemetry = { path = "../pyo3-opentelemetry/crates/opentelemetry" }
pyo3-tracing-subscriber = { path = "../pyo3-opentelemetry/crates/tracing-subscriber", default-features = false }
pyo3-stub-gen = { version = "0.14.1", features = ["numpy"] }

qcs-api-client-common = { path = "../../internal/stack/qcs/clients/qcs-api-client-rust/qcs-api-client-common" }
qcs-api-client-grpc = { path = "../../internal/stack/qcs/clients/qcs-api-client-rust/qcs-api-client-grpc" }
qcs-api-client-openapi = { path = "../../internal/stack/qcs/clients/qcs-api-client-rust/qcs-api-client-openapi/public" }
quil-rs = { path = "../quil-rs/quil-rs" }

serde_json = "1.0.86"
thiserror = "1.0.57"
tokio = "1.36.0"
# rigetti-pyo3 = { version = "0.4.1", default-features = false, features = ["complex", "time"] }

# The primary intent of these options is to reduce the binary size for Python wheels
# since PyPi has limits on how much storage a project can use.
# The LTO and codegen-units settings should have the added benefit of improving
# performance. The only benefit of stripping symbols is reducing binary size.
[profile.release]
strip = true
lto = true
codegen-units = 1
