[packages.lib]
versioned_files = [
    "crates/lib/Cargo.toml",
    "Cargo.lock",
    # { path = "crates/python/Cargo.toml", dependency = "qcs" },
]
changelog = "crates/lib/CHANGELOG.md"
scopes = ["lib", "rust", "python"]

# [packages.python]
# versioned_files = ["crates/python/Cargo.toml", "crates/python/pyproject.toml"]
# changelog = "crates/python/CHANGELOG.md"
# scopes = ["python"]

[[workflows]]
name = "release"

[[workflows.steps]]
type = "PrepareRelease"

[[workflows.steps]]
type = "Command"
command = "git commit -m \"chore: prepare new release(s) [skip ci]\""

[[workflows.steps]]
type = "Command"
command = "git push"

[[workflows.steps]]
type = "Release"

[github]
owner = "rigetti"
repo = "qcs-sdk-rust"
