[packages.lib]
versioned_files = ["crates/lib/Cargo.toml"]
changelog = "crates/lib/CHANGELOG.md"
scopes = ["lib", "rust"]

[packages.python]
versioned_files = ["crates/python/Cargo.toml", "crates/python/pyproject.toml"]
changelog = "crates/python/CHANGELOG.md"
scopes = ["python"]

[[workflows]]
name = "release"

[[workflows.steps]]
type = "PrepareRelease"

[[workflows.steps]]
type = "Command"
command = "cargo update -w"

[[workflows.steps]]
type = "Command"
command = "git add Cargo.lock && git commit -m \"chore: prepare new release(s)\""

[[workflows.steps]]
type = "Release"

[[workflows.steps]]
type = "Command"
command = "git push && git push --tags"

[[workflows]]
name = "prerelease"

[[workflows.steps]]
type = "PrepareRelease"
prerelease_label = "rc"

[[workflows.steps]]
type = "Command"
command = "cargo update -w && git add Cargo.lock && git commit -m \"chore: prepare new prerelease(s)\""

[[workflows.steps]]
type = "Release"

[[workflows.steps]]
type = "Command"
command = "git push && git push --tags"

[github]
owner = "rigetti"
repo = "qcs-sdk-rust"
