[package]
name = "cli"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.7.1", features = ["macros", "rt-multi-thread"] }
qcs-api = {path = "../qcs-api" }
qcs-util = { path = "../qcs-util" }
