[package]
name = "qcs-sdk-python"
description = "Python bindings to qcs-sdk-rust"
version = "0.5.0-rc.12"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/rigetti/qcs-sdk-rust"
keywords = ["pyquil", "SDK", "Rigetti", "Quil", "Quantum"]
categories = ["api-bindings", "compilers", "science", "emulators"]
readme = "./README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "qcs_sdk"
crate-type = ["cdylib"]

[dependencies]
qcs = { path = "../lib" }
qcs-api.workspace = true
qcs-api-client-common.workspace = true
qcs-api-client-grpc.workspace = true
qcs-api-client-openapi.workspace = true
pyo3.workspace = true
pyo3-asyncio.workspace = true
quil-rs.workspace = true
serde_json.workspace = true
tokio.workspace = true
thiserror.workspace = true
numpy.workspace = true
rigetti-pyo3.workspace = true
paste = "1.0.11"

[build-dependencies]
pyo3-build-config.workspace = true
