[package]
name = "qcs-sdk-python"
description = "Python bindings to qcs-sdk-rust"
version = "0.5.0-rc.1"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/rigetti/qcs-sdk-rust"
keywords = ["pyquil", "SDK", "Rigetti", "Quil", "Quantum"]
categories = ["api-bindings", "compilers", "science", "emulators"]
readme = "./README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "qcs_sdk"
crate-type = ["cdylib"]

[dependencies]
qcs = { path = "../lib" }
qcs-api-client-common = "0.3.0"
qcs-api-client-grpc = "0.3.0"
qcs-api-client-openapi = "0.4.0"
pyo3 = { version = "0.17", features = ["extension-module"] }
pyo3-asyncio = { version = "0.17", features = ["tokio-runtime"] }
quil-rs = "0.15"
tokio = "1.21"
qcs-api = "0.2.1"
rigetti-pyo3 = { version = "0.1.0-rc.4", features = ["extension-module", "complex"] }
serde_json = "1.0.86"

[build-dependencies]
pyo3-build-config = { version = "0.17" }
