name: Run Checks
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  checks:
    name: Run Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - name: Install protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          version: '3.20.1'
      - name: Install libquil dependencies
        run: sudo apt install -y libffi\* libblas\* liblapack\*
      - name: Install libquil
        run: |
          curl https://raw.githubusercontent.com/rigetti/libquil/main/install.sh | bash -s 0.3.0
      - uses: Swatinem/rust-cache@v2
      - name: Install cargo-make
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: --debug cargo-make
      - name: Activate virtual environment
        run: |
          python -m venv .venv
          source .venv/bin/activate
      # may protect against linking failure: no space left on device
      - name: Delete huge unnecessary tools folder
        run: rm -rf /opt/hostedtoolcache
      - name: Run Rust CI
        uses: actions-rs/cargo@v1
        env:
          CARGO_MAKE_RUN_CHECK_FORMAT: true
          CARGO_MAKE_RUN_CLIPPY: true
          CARGO_MAKE_BUILD_EXAMPLES: true
        with:
          command: make
          args: --cwd crates/lib --makefile Makefile.toml ci-flow
      - name: Run Python CI
        uses: actions-rs/cargo@v1
        with:
          command: make
          args: --cwd crates/python --makefile Makefile.toml ci-flow
