name: Release Python

on:
  release:
    types: [published]
  workflow_dispatch:
    description: "Manually publish release"
    inputs:
      publishWheels:
        description: "Build and publish both qcs-sdk-python and qcs-sdk-python-grpc-web wheels to PyPI"
        type: boolean
        default: false

jobs:
  is-python-release:
    if: github.event_name == 'workflow_dispatch' || startsWith(github.event.release.tag_name, 'python/v')
    runs-on: ubuntu-latest
    steps:
    - run: echo "Release tag starts with python/v, proceeding with release"
  should-publish-wheels:
    if: (github.event_name == 'workflow_dispatch' && inputs.publishWheels) || (github.event_name == 'release' && !github.event.release.prerelease)
    runs-on: ubuntu-latest
    steps:
    - run: echo "Publishing wheels"

  macos:
    runs-on: macos-latest
    needs: [is-python-release, should-publish-wheels]
    env:
      CXXFLAGS: "-std=c++11 -stdlib=libc++"
    strategy:
      matrix:
        package-name: [qcs-sdk-python, qcs-sdk-python-grpc-web]
    steps:
    - uses: actions/checkout@v4
    - name: Install protoc
      uses: arduino/setup-protoc@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        version: '3.20.1'
    - uses: ./.github/action-common-python-release
      with:
        artifact-key: macos
        package-name: ${{ matrix.package-name }}
        maturin-target: universal2-apple-darwin

  linux:
    runs-on: ubuntu-latest
    needs: [is-python-release, should-publish-wheels]
    env:
      CXXFLAGS: "-std=c++11"
    strategy:
      matrix:
        target: [x86_64, aarch64]
    steps:
    - uses: actions/checkout@v4
    - name: Install protoc
      uses: arduino/setup-protoc@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        version: '3.20.1'
    - uses: ./.github/action-common-python-release
      with:
        artifact-key: linux-${{ matrix.target }}
        package-name: qcs-sdk-python
        maturin-target: ${{ matrix.target }}

  linux-grpc-web:
    runs-on: ubuntu-latest
    needs: [is-python-release, should-publish-wheels]
    env:
      CXXFLAGS: "-std=c++11"
    strategy:
      matrix:
        target: [x86_64, ppc64le]
    steps:
    - uses: actions/checkout@v4
    - name: Install protoc
      uses: arduino/setup-protoc@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        version: '3.20.1'
    - uses: ./.github/action-common-python-release
      with:
        artifact-key: linux-${{ matrix.target }}
        package-name: qcs-sdk-python-grpc-web
        maturin-target: ${{ matrix.target }}

  windows:
    runs-on: windows-latest
    needs: [is-python-release, should-publish-wheels]
    strategy:
      matrix:
        package-name: [qcs-sdk-python, qcs-sdk-python-grpc-web]
    steps:
    - name: Enable long path support
      run: |
        reg add "HKLM\SYSTEM\CurrentControlSet\Control\FileSystem" /v LongPathsEnabled /t REG_DWORD /d 1 /f
        git config --system core.longpaths true
    - uses: actions/checkout@v4
    - name: Install protoc
      uses: arduino/setup-protoc@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        version: '3.20.1'
    - uses: ./.github/action-common-python-release
      with:
        artifact-key: windows
        package-name: ${{ matrix.package-name }}
        python-architecture: x64
        rust-target: x86_64-pc-windows-msvc

  sdist:
    runs-on: ubuntu-latest
    needs: is-python-release
    env:
      CXXFLAGS: "-std=c++11"
    strategy:
      matrix:
        package-name: [qcs-sdk-python, qcs-sdk-python-grpc-web]
    steps:
    - uses: actions/checkout@v4
    - name: Install protoc
      uses: arduino/setup-protoc@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        version: '3.20.1'
    - uses: ./.github/action-common-python-release
      with:
        artifact-key: sdist
        package-name: ${{ matrix.package-name }}
        maturin-command: sdist

  publish:
    runs-on: ubuntu-latest
    # `needs` forces this job to wait until all specified jobs
    # are finished to run. Typically, those jobs would all have
    # to be successful, but when combined with `if: always()`,
    # this job is allowed to run after all the needed jobs
    # finish, regardless of their outcome. In this case, we
    # still make sure that at least a source distribution
    # can be published.
    needs: [ macos, linux, linux-grpc-web, windows, sdist ]
    if: always() && needs.sdist.result == 'success'
    permissions:
      id-token: write
    strategy:
      matrix:
        package-name: [qcs-sdk-python, qcs-sdk-python-grpc-web]
    steps:
    - uses: actions/download-artifact@v4
      with:
        path: wheels
        pattern: wheels_${{ matrix.package-name }}-*
        merge-multiple: true
    - name: List wheels to upload
      run: ls -R wheels
    - name: Publish to PyPI
      uses: messense/maturin-action@v1
      with:
        command: upload
        args: --skip-existing wheels/*
