name: Release Dry Run

on:
  push:
    branches:
      - main

jobs:
  release-dry-run:
    if: ${{!contains(github.event.head_commit.message, '[skip ci]')}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT }}
      - name: Install Knope
        uses: knope-dev/action@v1
        with:
          version: 0.6.1 # Test before updating, breaking changes likely: https://github.com/knope-dev/action#install-latest-version
      - name: Display Pending Release
        run: knope release --dry-run
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
